*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-size:1.05em;
}

#wrapper {
    /* border:2px solid red; */
    font-family: 'Sue Ellen Francisco', cursive;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
}

#chat-container{
    /* border:2px  solid yellow; */
    height:100%;
    width: 25%;
    background-color: #5990C2;
    display: flex;
    flex-direction: column;
    align-items:center;
}

/*------- CHAT.JS --------*/
#chat-wrapper{
    /* border: 2px solid blue; */
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width:100%;
    height: 100%;
    padding-bottom:5%;
}

.card-title{
    font-size:1.2em;
}
.messages{
    /* border:2px solid #53C79B; */
    height:100%;
    width:90%;
    background-color:whitesmoke;
    padding:5%;
    overflow-wrap: break-word;
    overflow-y: scroll;
    border-radius: 5px;    

}

.author{
    text-decoration: underline;
}



/*-------- MAIN.JS ---------*/

#main-container{
    /* border:2px  solid blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    width:75%;
    background-color:#FF996B;
}

#title{
    /* border:2px solid black; */
    text-align: center;
    color: black;
    font-size: 2.5em;
    letter-spacing: .2em;
}

/*------- CHARACTERSTREAM.JS -------*/

#character-stream-container{
    /* border:2px solid yellow; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 1.5em;

}

#characters{
    /* border:1px solid black; */
    border-radius: 5px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    overflow-x: hidden;
    margin: 5px;
    margin-left: 100px;
    margin-right:100px;
    background-color:whitesmoke;
}

#selected-character{
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 65px;
    font-size: 1.3em;
    padding:10px;
}

#right-characters{
   padding: 5px;
   max-width: 47.5%;
   display: flex;
   justify-content: flex-start;
}

#left-characters{
    padding:5px;
    max-width: 47.5%;
    display: flex;
    justify-content: flex-end;
 }

 #left-characters > p{
    padding:7px;
 }

 #right-characters > p{
    padding:7px;
 }

.letterz  {
    color:red;
    margin: 5px;
}
button{
    border: 1px solid black;
    height:30px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    background-color: lightgreen;
    margin: 5px;
    font-size: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    word-wrap: break-word;
}

/*-------- VIDEO.JS --------*/

#video-container{
    /* border:2px solid red; */
    position: relative;
    margin: 5px;
}

video{
    /* border:2px solid purple; */
    display: none;
}


#canvas-source {
	width: 100%;
}

#canvas-source {
    /* border:2px solid yellow; */
    border-radius: 5px;
	position: absolute;
	left: 0;
    top: 0;
}

#canvas-blended {
    /* border:2px solid red; */
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
    opacity: 0;
    z-index: 1000;
}

/*-------- MESSAGEFIELD.JS ------*/

#message-field-container{
    /* border:1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 65%;
    border-radius: 5px;
    margin: 5px;
    overflow: hidden;
    background-color:whitesmoke;
}

#top-component{
    /* border:2px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


/*--------BOXES---------*/

#hot-spots {
	/* border:2px solid red; */
	position: absolute;
	/* display: none; */
    height: 480px;
    width: 640px;
    top:0;
}

.boxes {
    display: flex;
    justify-content: center;
    opacity: 0.7;
    /* color:white; */
}

#left-box{
    border-right:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-right-radius: 5px;
    width: 175px;
    height: 70%;
    position: absolute;
}

#right-box{
    border-left:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-left-radius: 5px;
    width: 175px;
    height: 70%;
    position: absolute;
    right: 0;
}

#top-box{
    border-left:2px solid whitesmoke;
    border-right:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 160px;
    height: 15%;
    position: absolute;
    right: 240px;
    left: 240px;
}
