*{
    box-sizing: border-box;
    margin: 0;
    padding:0;
    font-family: 'Gloria Hallelujah', cursive;
    font-size:1em;

    /* font-family: Helvetica, sans-serif; */
}

/*-------- MAIN.JS ---------*/

#main-container{
    /* border:2px  solid black; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100vh;
    background-color: lightseagreen;
}

#title{
    /* border:2px solid black; */
    text-align: center;
    color: black;
    font-size: 2.9em;
    /* margin-top:5px; */
    letter-spacing: .1em;
    font-family: 'Gloria Hallelujah', cursive;
    font-weight: 600;
}
#title p {
    font-size: .4em;
    color:red;
}

/*------- CHARACTERSTREAM.JS -------*/

#character-stream-container{
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 70px;
    width: 100%;
    overflow-x: hidden;
    overflow-y: hidden;
}

#selected-character{
    border: 3px solid red;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 40px;
    font-size: 1.5em;
}

#characters{
    /* border:2px solid black; */
    border-radius: 5px;    
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 70vw;
    background-color: whitesmoke;
    overflow-x: hidden;
    margin: 5px;
}

button{
    border: none;
    height:30px;
    width: 100px;
    border-radius: 5px;
    display: flex;
    background-color: whitesmoke;
    margin: 5px;
    font-size: 100%;
    text-align: center;
    justify-content: center;
    word-wrap: break-word;
}

/*-------- VIDEO.JS --------*/

#video-container{
    /* border:2px solid red; */
    position: relative;
    margin: 5px;
}

video{
    /* border:2px solid purple; */
    display: none;
}


#canvas-source {
	width: 100%;
}

#canvas-source {
    /* border:2px solid yellow; */
    border-radius: 5px;
	position: absolute;
	left: 0;
    top: 0;
}

#canvas-blended {
    /* border:2px solid red; */
	display: none;
	position: absolute;
	bottom: 0;
	right: 0;
    opacity: 0;
    z-index: 1000;
}

/*-------- MESSAGEFIELD.JS ------*/

#message-field-container{
    /* border:2px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    width: 65%;
    background-color:whitesmoke;
    border-radius: 5px;
    margin: 5px;
}

#top-component{
    /* border:2px solid red; */
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
}


/*-------------------------- TEST ------------------------*/


/*--------BOXES---------*/

#hot-spots {
	/* border:2px solid red; */
	position: absolute;
	/* display: none; */
    height: 480px;
    width: 640px;
    top:0;
}

#left-box{
    border-right:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-right-radius: 5px;
    width: 175px;
    height: 70%;
    position: absolute;
}

#right-box{
    border-left:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-left-radius: 5px;
    width: 175px;
    height: 70%;
    position: absolute;
    right: 0;
}

#top-box{
    border-left:2px solid whitesmoke;
    border-right:2px solid whitesmoke;
    border-bottom:2px solid whitesmoke;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    width: 160px;
    height: 15%;
    position: absolute;
    right: 240px;
    left: 240px;
}
